# Python environment & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Streamlit config
.streamlit/

# Models & binaries (keep structure via .gitkeep)
*.pkl

# IDEs
.vscode/
.idea/

*.png